.htaccess.sample
.modgit/
.modman/
app/code/community/Phoenix/Moneybookers/
app/code/community/Cm/RedisSession/
app/code/core/
app/design/adminhtml/default/default/


app/design/frontend/base/default/template/authorizenet
app/design/frontend/base/default/template/bundle
app/design/frontend/base/default/template/callouts
app/design/frontend/base/default/template/captcha
app/design/frontend/base/default/template/catalog
app/design/frontend/base/default/template/cataloginventory
app/design/frontend/base/default/template/catalogsearch
app/design/frontend/base/default/template/centinel
app/design/frontend/base/default/template/checkout
app/design/frontend/base/default/template/cms
app/design/frontend/base/default/template/contacts
app/design/frontend/base/default/template/core
app/design/frontend/base/default/template/customer
app/design/frontend/base/default/template/directory
app/design/frontend/base/default/template/downloadable
app/design/frontend/base/default/template/email
app/design/frontend/base/default/template/giftmessage
app/design/frontend/base/default/template/googleanalytics
app/design/frontend/base/default/template/moneybookers
app/design/frontend/base/default/template/newsletter
app/design/frontend/base/default/template/oauth
app/design/frontend/base/default/template/page
app/design/frontend/base/default/template/pagecache
app/design/frontend/base/default/template/paygate
app/design/frontend/base/default/template/payment
app/design/frontend/base/default/template/paypal
app/design/frontend/base/default/template/persistent
app/design/frontend/base/default/template/poll
app/design/frontend/base/default/template/productalert
app/design/frontend/base/default/template/rating
app/design/frontend/base/default/template/reports
app/design/frontend/base/default/template/review
app/design/frontend/base/default/template/rss
app/design/frontend/base/default/template/sales
app/design/frontend/base/default/template/sendfriend
app/design/frontend/base/default/template/shipping
app/design/frontend/base/default/template/tag
app/design/frontend/base/default/template/tax
app/design/frontend/base/default/template/wishlist
app/design/frontend/base/default/template/xmlconnect


app/design/frontend/rwd/
app/design/frontend/default/blank/
app/design/frontend/default/default/
app/design/frontend/default/iphone/
app/design/frontend/default/modern/
app/design/frontend/enterprise/default
app/design/install/
app/etc/modules/Enterprise_*
app/etc/modules/Mage_*.xml
app/etc/modules/Phoenix_Moneybookers.xml
app/etc/modules/Cm_RedisSession.xml
app/etc/applied.patches.list
app/etc/config.xml
app/etc/enterprise.xml
app/etc/local.xml.additional
app/etc/local.xml.template
app/etc/local.xml
app/.htaccess
app/bootstrap.php
app/locale/en_US/
app/Mage.php
/cron.php
cron.sh
dev/.htaccess
dev/tests/functional/
downloader/
errors/
favicon.ico
/get.php
includes/
/index.php
index.php.sample
/install.php
js/blank.html
js/calendar/
js/enterprise/
js/extjs/
js/firebug/
js/flash/
js/index.php
js/jscolor/
js/lib/
js/mage/
js/prototype/
js/scriptaculous/
js/spacer.gif
js/tiny_mce/
js/varien/
lib/3Dsecure/
lib/Apache/
lib/flex/
lib/googlecheckout/
lib/.htaccess
lib/LinLibertineFont/
lib/Mage/
lib/PEAR/
lib/Pelago/
lib/phpseclib/
lib/Varien/
lib/Zend/
lib/Cm/
lib/Credis/
lib/Magento/
LICENSE_AFL.txt
LICENSE.html
LICENSE.txt
LICENSE_EE*
/mage
media/
/api.php
nbproject/
pear
pear/
php.ini.sample
pkginfo/
RELEASE_NOTES.txt
shell/.htaccess
shell/abstract.php
shell/compiler.php
shell/indexer.php
shell/log.php
sitemap.xml
skin/adminhtml/default/default/
skin/adminhtml/default/enterprise
skin/frontend/base/
skin/frontend/rwd/
skin/frontend/default/blank/
skin/frontend/default/blue/
skin/frontend/default/default/
skin/frontend/default/french/
skin/frontend/default/german/
skin/frontend/default/iphone/
skin/frontend/default/modern/
skin/frontend/enterprise
skin/install/
var/
node_modules/
